
@font-face {
  font-family: 'Axiforma-ExtraBold';
  src: url('Axiforma-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('Axiforma-ExtraBold.otf')  format('opentype'),
	     url('Axiforma-ExtraBold.woff') format('woff'), url('Axiforma-ExtraBold.ttf')  format('truetype'), url('Axiforma-ExtraBold.svg#Axiforma-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
