
@font-face {
  font-family: 'Axiforma-LightItalic';
  src: url('Axiforma-LightItalic.eot?#iefix') format('embedded-opentype'),  url('Axiforma-LightItalic.otf')  format('opentype'),
	     url('Axiforma-LightItalic.woff') format('woff'), url('Axiforma-LightItalic.ttf')  format('truetype'), url('Axiforma-LightItalic.svg#Axiforma-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
