


// custom responsive break points
$screen-lg-desktop:1400px;

$ff-normal:'Axiforma-Regular';
$ff-primary:'Axiforma-ExtraBold';
$ff-secondary:'Axiforma-Bold';
$ff-tertiary:'Axiforma-SemiBold';
$ff-quaternary:'Axiforma-Book';
$ff-quinary:'Axiforma-LightItalic';;
$ff-senary:'Axiforma-Medium';
$ff-septenary:'FreestyleScriptRegular';
$ff-octa:'Axiforma-Heavy';

// backgrouds
$bg-red:#f00;
$bg-black:#111111;
$bg-white:#ffffff;
$bg-yellow:#fff686;
$bg-grey:#f7f7f7;
$bg-grey-light:#f9f9f9;
$bg-grey-thick:#2a2a2a;
$bg-green:#c4e3cb;
$bg-green-light:#effedf;
//colors
$color-black:#111111;
$color-white:#ffffff;
$color-grey:#8c8c8c;
$color-green-light:#b2a835;



// font sizes

$fs-primary:48px;
$fs-secondary:38px;
$fs-tertiary:28px;
$fs-quaternary:20px;
$fs-quinary:18px;

$fs-normal:16px;
$fs-small:12px;